body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.dashboard {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #34495e;
}

/* Main Content */
.main {
    flex: 1;
    margin-left: 260px;
    padding: 20px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 180px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
}

/* Status Colors */
.approved {
    color: green;
    font-weight: bold;
}

.pending {
    color: orange;
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 8px 20px grey;
    transform: translate(-4px);
}

.card:hover{
    transition: transform 0.3s ease;
}

tbody tr:hover td {
    background-color: #f1f1f1;
}

tbody tr:hover td {
   transition:background-color 0.2s ease;
}

.card p{
    font-weight: bold;
}


.chart-container {
    width: 600px;
    margin: 40px auto;
}

table{
    margin-bottom: 60px;
}

